*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Heebo', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #393E41;
    color: #F6F7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloHead{
margin-bottom: 10px;}
.bienvenida{
    
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3C6383;
    width: 600px;
    height: 250px;
    border-radius: 13px;
}
.consultasHead{
    
    text-transform: uppercase;
    margin: 10px 3px 3px 0px;
}
.dineroConsulta{
    display: flex;
    
}
.montoDepo{
    width: 130px !important;
    margin: 5px 3px 3px 0px !important
}
.dinero{
    border-radius: 13px;
    width: 110px;
    height: 60px;
    background-color: #126db8;
    margin: 15px;
    text-align: center;
    padding: 7px;
}
.dinero h3{
    text-transform: uppercase;
    
}
span{
    font-style: italic;
    line-height: 20px;
}
.divisa{
    border-radius: 13px;
    width: 140px;
    height: 60px;
    background-color: #3147be;
    margin: 0px 3px 3px 0px;
    text-align: center;
    padding: 7px;
}
.precioDivisas{
    display: flex;
    
}
.consultasDivisasHead{
    margin: 2px;
}
.btnAtras{
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #35a844;
    font-weight: bold;
    color: #fff;
    border:none;
    cursor: pointer;
    border-radius: 13px;

}
.btnAtras:hover{
    background-color: #36d84c;
}